* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f5f7;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.fixed {
    position: fixed;
    left: 50%;
    bottom: 10%;
    margin-left: 620px;
    line-height: 40px;
    text-align: center;
    z-index: 1;
}

.fixed a {
    display: block;
    width: 100px;
    height: 40px;
    color: #83d8eb;
    border: 2px solid #83d8eb;
    border-radius: 20px;
}

.header {
    height: 100px;
}

.logo {
    float: left;
    height: 50px;
    width: 50px;
    margin: 25px 0 0 20px;
    border: 1px solid pink;
    border-radius: 30px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav {
    float: left;
    margin-left: 100px;
    /*background-color: pink;*/
}

.nav ul li {
    float: left;
    margin: 29px 30px;
    line-height: 42px;
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    /*line-height: 42px;*/
}

.nav ul li a {
    display: block;
    height: 40px;
    padding: 0 10px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    color: #00A4FF;
    border-bottom: 2px solid #00A4FF;
}

.search {
    float: left;
    margin: 30px 0 0 120px;
    background-color: pink;
}

.search input {
    float: left;
    height: 40px;
    width: 300px;
    border: 1px solid #00A4FF;
    border-right: 0;
    font-size: 15px;
    text-indent: 1em;
    outline: none;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 0;
    background-image: url('../img/btn.png');
}

.avatar {
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 22px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.id {
    float: right;
    margin-right: 20px;
    line-height: 100px;
    color: pink;
}

.banner {
    height: 400px;
    text-align: left;
    background-color: pink;
}

.text {
    line-height: 400px;
    font-size: 80px;
    text-align: center;
    color: white;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3000px;
    margin-top: 10px;
}

.nav-left {
    display: flex;
    flex-direction: column;
    width: 310px;
    /*background-color: skyblue;*/
}

.personal {
    display: flex;
    flex-direction: column;
    height: 188px;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
}

.personal-header {
    height: 64px;
    background-color: pink;
}

.personal-header img {
    height: 100%;
    width: 100%;
}

.personal-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 26px;
    flex: 1;
}

.personal-main-content {
    position: relative;
    height: 20px;
}

.personal-main-content-avatar {
    position: absolute;
    top: -30px;
    left: 0;
    width: 56px;
    height: 56px;
    overflow: hidden;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50%;
}

.personal-main-content-avatar img {
    width: 100%;
    height: 100%;
}

.personal-main-content-id {
    position: absolute;
    top: -20px;
    left: 65px;
    font-size: 13px;
    line-height: 56px;
}

.personal-main-content-id:visited {
    color: black;
}

.personal-main-stats {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 1;
}

.personal-main-stats-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 46px;
}

.personal-main-stats-item-number {
    font-weight: 700;
    line-height: 19px;
    font-size: 14px;
    color: #222;
}

.personal-main-stats-item-title {
    font-size: 12px;
    color: #99a2aa;
}

.users {
    position: sticky;
    top: 10px;
    padding: 16px;
    background-color: #fff;
    border-radius: 10px;
}

.user-title h3 {
    float: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    color: pink;
}

.user-title a {
    float: right;
    margin-right: 10px;
    line-height: 42px;
    font-size: 14px;
    color: pink;
}

.friend {
    height: 50px;
    margin-bottom: 5px;
    background-color: pink;
    border-radius: 10px;
}

.friend-avatar {
    float: left;
    height: 45px;
    width: 45px;
    padding-left: 10px;
}

.friend-avatar img {
    width: 100%;
    height: 100%;
}

.friend-info {
    float: left;
}

.friend-info h5 {
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
}

.friend-info p {
    font-size: 12px;
}

.content {
    height: 3000px;
    width: 1200px;
    margin-left: 10px;
    background-color: skyblue;
    border-radius: 10px;
}

.nav-right {
    position: sticky;
    top: 10px;
    height: 500px;
    width: 310px;
    margin-left: 10px;
    background-color: skyblue;
    border-radius: 10px;
}

.footer {
    height: 400px;
    margin-top: 10px;
    overflow: hidden;
    background-color: pink;
}

.copyright {
    height: 100px;
    margin: 150px auto;
    /*background-color: #fff;*/
}

.copyright .img {
    float: left;
    height: 100px;
    width: 100px;
    padding-left: 50px;
}

.copyright h1 {
    float: right;
    font-weight: 700;
    font-size: 20px;
    line-height: 100px;
    color: white;
    padding-right: 50px;
}

.copyright .img img {
    width: 100%;
    height: 100%;
}
